.example-card {
    max-width: 380px;
    margin-left:13%;
    margin-bottom: 10px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}