.navbar{
    width: 100%;
    height: 60px;
    background-color: #042940;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   }

   .outer-box{
    width: 95%;
    height: 600px;
    background-color: #005C53;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;

   }

   .inner-box{
    width: 85%;
    height: 40%;
    background-color: #D6D58E;
    display: flex;
    flex-direction: column; 
    border-radius: 15px;
    font-family: helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
   }

   .inner-content{
    width: 85%;
    height: 40%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
   }
   .inner-content-box{
     width: 20%;
     height: 200px;
     background-color: black;
     display: flex;
     flex-direction: column; 
     align-items: center;
     margin: 0 auto;
     border-radius: 30px;

   }

   .image{
    width: 70%;
    height: 50%;
    margin-top: 10px;
   }