body{
    background-color: lightblue;
}
body>p:nth-child(1){
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    
}
body>p:nth-child(2){
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: -15px;
}
body>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info{
    width: 350px;
    height: 31rem;
    margin: 0 60px;
    text-align: center;
}
.info>img{
max-width:100%;
}
.title{
 font-size: 20px;
 font-weight: 800;
}
