
<mat-form-field appearance="outline">
    <mat-label>Language</mat-label>
    <mat-select [(value)]="selectedLang" #lang (valueChange)="setLanguage(lang.value)">
        <mat-option value="en">English</mat-option>
        <mat-option value="id">Indonesian</mat-option>
    </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="idFilter">
        <th mat-header-cell *matHeaderCellDef>

        </th>
    </ng-container>
    <ng-container matColumnDef="nameFilter">
        <th mat-header-cell *matHeaderCellDef>
            <mat-form-field appearance="outline">
                <input matInput [formControl]="lastNameFilter" placeholder="{{'userForm.last_name' | translate}}" #input>
            </mat-form-field>
        </th>
    </ng-container>

    <ng-container matColumnDef="typeFilter">
        <th mat-header-cell *matHeaderCellDef>
            <mat-form-field appearance="outline">
                <input matInput [formControl]="userTypeFilter" placeholder="{{'userForm.user_type' | translate}}" #input>
            </mat-form-field>
        </th>
    </ng-container>
    <ng-container matColumnDef="emailFilter">
        <th mat-header-cell *matHeaderCellDef>
            <mat-form-field appearance="outline">
                <input matInput [formControl]="emailFilter" placeholder="{{'userForm.email' | translate}}" #input>
            </mat-form-field>
        </th>
    </ng-container>
    <ng-container matColumnDef="statusFilter">
        <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
                <mat-select [formControl]="userStatusFilter" placeholder="Status">
                    <mat-option *ngFor="let a of status" [value]="a.value">
                        {{a.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
    </ng-container>

    <ng-container matColumnDef="filter_DOB">
        <th mat-header-cell *matHeaderCellDef>

        </th>
    </ng-container>

    <ng-container matColumnDef="buttonAdd">
        <th mat-header-cell *matHeaderCellDef>

        </th>
    </ng-container>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{'userForm.name' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.civility + ". " + element.last_name + ", " +
            element.first_name}}
        </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> {{'userForm.type' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{('userForm.' + element.company.user_type) | translate}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> {{'userForm.email' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.user_status === 'active'; then active else inActive"></div>
            <ng-template #active><mat-icon [ngStyle]="{'color':'green'}" *ngIf="element.user_status === 'active'; else inActive">done</mat-icon></ng-template>
            <ng-template #inActive><mat-icon [ngStyle]="{'color':'red'}" #inActive>close</mat-icon></ng-template>
        </td>
    </ng-container>

    <ng-container matColumnDef="date_of_birth">
        <th mat-header-cell *matHeaderCellDef>{{'userForm.DOB' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.date_of_birth | date:'longDate'}}</td>
    </ng-container>

    <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef>
            <mat-icon (click)="openDialog()" [ngStyle]="{'color':'green'}">add_circle</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element"></td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedFilter"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter ""</td>
    </tr>
</table>
<br>