@import "~@angular/material/prebuilt-themes/indigo-pink.css";



.prime {
    width: 70%;
    border: 2px solid gray;
    margin: 2px;
    box-sizing: border-box;
    margin-left: 15%;
}

.prime div {
    margin: 3px;
    box-sizing: border-box;
}

.border{
   border: 2px solid gray;
}
