.wrap{
 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.whead{
 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.search{
    width: 250px;
    height: 20px;
}

button {
    text-align: center;
    background-color:  #9a6851;
    color: whitesmoke;
    border-radius: 2rem;
    padding: 10px 20px;
}

.button{
    text-align: right;
    justify-content: center;
}

